body {
    font-family: 'Roboto Mono', monospace;
    background-image: url(img/pag.jpg);
    display: block;
    margin-left: 100px;
    margin-top: 100px;
}

table th {
    border-style: hidden;
    background-color: rgb(173, 173, 173);
    border-style: none;
}

thead th {
    background-color: white;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

table {
    width: 85%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

th {
    color: rgb(68, 68, 68);
    height: 50px;
}

button {
    border-radius: 100%;
    height: 35px;
    border-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255);
}

th #config {
    width: 100;
}

h1 {
    color: rgb(255, 255, 255);
}

img {
    fill: firebrick;
}